@import 'cssreset.css';

@font-face {
	font-family: roboto-reg;
	src: url("../fonts/Roboto-Regular.ttf");
	font-style: normal;
	font-weight: normal;
}

body {
	font-family: roboto-reg;

}

h1 {
	color: #423e3e;
	padding-left: 30px;
	font-size: 1.5em;
	text-transform: uppercase;
}

h2 {
	margin-top: 50px;
	text-align: center;
	font-size: 2em;

}

strong {
	color: red;
	font-weight: bold;
	font-style: italic;
}

.intro-text {
	display: flex;
	justify-content: center;
	margin-top: 25px;
	width: 50%;
	text-align: center;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	height: 50px;
	width: 100%;
	background-color: #686162;
}

.button-nav {
	padding-right: 10px;
}

.nav-dropdown {
	display: none;
	position: absolute;
	right: 0;
	width: 100%;
	margin-top: 0px;
}

.nav-dropdown a {
	color: #423e3e;
	background-color: #908889;
    padding: 12px 16px;
    height: 20px;
    text-decoration: none;
    display: block;
    text-align: center;

}

.nav-dropdown a:hover {
	background-color: #686162;
}

.dropbtn {
	background-color: #686162;
	color: #423e3e;
	border: none;
	padding: 10px 15px;
	font-size: 1.2em;
	transition: color 0.5s ease;
}

.dropbtn:hover {
	color: #908889;
}

.show {
	display: block;
}

.menu-nav {
	display: none;
}

.intro-mobile {
	margin-top: 50px;
	width: 100%;

}

.intro-tablet {
	display: none;
}

.intro-desk {
	display: none;
}

.samples {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 10px;
}

.samples img {
	width: 45%;
	margin: 10px;
	border: 2px solid #908889;
}


@media (min-width: 600px) {
	.dropbtn {
		display: none;
	}

	.menu-nav {
		display: block;
		width: 40%;
		right: 0;
		margin-right: 25px;
	}

	h1 {
		font-size: 1.75em;
	}

	ul {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-top: 5px;
		height: 50px;
		font-size: 1.2em;

	}

	li a {
	text-decoration: none;
	color: #423e3e;
	padding: 15px 10px 10px 10px;
	transition: color 0.5s ease;

	}

	li a:hover {
		color: #908889;
	}

	li a:active {
		background-color: #acacac;
		color: white;
	}

	.intro-mobile {
		display: none;
	}

	.intro-tablet {
		margin-top: 50px;
		display: block;
		width: 100%;
	}

}

@media (min-width: 800px) {

		.menu-nav {
			width: 30%;
		}

		.intro-tablet {
			display: none;
		}

		.intro-desk {
			display: block;
			margin-top: 50px;
			width: 100%;
		}

		.samples img {
			width: 30%;
}
}


@media (min-width: 1240px) {

		.menu-nav {
			width: 20%;
	}
}