@import 'cssreset.css';

@font-face {
	font-family: roboto-reg;
	src: url("../fonts/Roboto-Regular.ttf");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: blackjack;
	src: url("../fonts/blackjack.otf");
	font-style: normal;
	font-weight: normal;
}

body {
	font-family: roboto-reg;
	background-image: url("../images/concrete_seamless.png");
}

h1 {
	color: #2f2c2c;
	padding-left: 30px;
	font-size: 1.5em;
	text-transform: uppercase;
}

h2 {
	margin: 50px 25px 0 25px;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

h3 {
	margin: 30px 0 25px 0;
	color: #ff3432;
	font-size: 2.5em;
	font-family: blackjack;
}

strong {
	color: red;
	font-weight: bold;
	font-style: italic;
}

p {
	margin: 10px;
	font-size: 1em;
}

a {
	color: #ff3432;
	text-decoration: none;
	transition: color 0.5s ease;
}

a:hover {
	color: #ff9999;
}

.intro-text {
	text-align: center;
	font-size: 1em;
	margin: 30px 0;
	width: 80%;
}

.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	height: 50px;
	width: 100%;
	background-color: #686162;
}

.button-nav {
	padding-right: 10px;
}

.nav-dropdown {
	display: none;
	position: absolute;
	right: 0;
	width: 100%;
	margin-top: 0px;
}

.nav-dropdown a {
	color: #2f2c2c;
	background-color: #908889;
    padding: 12px 16px;
    height: 20px;
    text-decoration: none;
    display: block;
    text-align: center;

}

.nav-dropdown a:hover {
	background-color: #686162;
}

.dropbtn {
	background-color: #686162;
	color: #2f2c2c;
	border: none;
	padding: 10px 15px;
	font-size: 1.2em;
	transition: color 0.5s ease;
}

.dropbtn:hover {
	color: #908889;
}

.show {
	display: block;
}

.menu-nav {
	display: none;
}

.header-mobile {
	margin-top: 50px;
	width: 100%;

}

.header-tablet {
	display: none;
}

.header-desk {
	display: none;
}

.samples {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 10px;
}

.samples img {
	width: 40%;
	margin: 10px;
	border: 2px solid #908889;
}

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 80px;
}


.this-is-me {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
}

.about-me-paragraph {
	width: 85%;
}

.my-image {
	border-radius: 50%;
	border: 5px solid #2f2c2c;
	width: 100%;
}

.copyright {
	text-align: center;
	margin: 20px 0;
	width: 100%;
	font-size: 0.8em;
	color: #908889;
}


@media (min-width: 600px) {


	h1 {
		font-size: 1.75em;
	}

	ul {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-top: 5px;
		height: 50px;
		font-size: 1.2em;

	}

	li a {
	text-decoration: none;
	color: #2f2c2c;
	padding: 15px 10px 10px 10px;
	transition: color 0.5s ease;

	}

	li a:hover {
		color: #908889;
	}

	li a:active {
		background-color: #acacac;
		color: white;
	}

	.dropbtn {
		display: none;
	}

	.menu-nav {
		display: block;
		width: 40%;
		right: 0;
		margin-right: 25px;
	}

	.header-mobile {
		display: none;
	}

	.header-tablet {
		margin-top: 50px;
		display: block;
		width: 100%;
	}

	.this-is-me {
		width: 40%;
	}

}

@media (min-width: 800px) {

	h2 {
		font-size: 2em;
	}

	.menu-nav {
		width: 30%;
	}

	.header-tablet {
		display: none;
	}

	.header-desk {
		display: block;
		margin-top: 50px;
		width: 100%;
	}

	.samples img {
		width: 28%;
	}

	.intro-text {
		width: 50%;
	}

	.copyright {
		font-size: 1em;
	}

	.about {
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
		margin-top: 100px;
	}

	.this-is-me {
		flex-direction: column;
		align-items: center;
		width: 30%;
		margin-left: 25px;
	}

	.about-me-paragraph {
		width: 50%;
	}


}


@media (min-width: 1240px) {

	.menu-nav {
		width: 20%;
	}

	.this-is-me {
		width: 20%;
	}	

	.about {
		justify-content: center;
	}

	.about-me-paragraph{
		margin-left: 50px;
	}

	.copyright {
		position: absolute;
		bottom: 0;
	}


}